nav.navbar{
	width: 100%;
	background: #ada996;
    background: -webkit-linear-gradient(to right,rgba(234, 234, 234, 0.5),rgba(219, 219, 219, 0.5),rgba(242, 242, 242, 0.5),rgba(173, 169, 150, 0.5));
    background: linear-gradient(to right, rgba(234, 234, 234, 0.5), rgba(219, 219, 219, 0.5), rgba(242, 242, 242, 0.5), rgba(173, 169, 150, 0.5));
    box-shadow: 0 .5rem 1rem #0000001a;
}

nav.navbar.scrolled{
	background: #ada996;
    background: -webkit-linear-gradient(to right,#eaeaea,#dbdbdb,#f2f2f2,#ada996);
    background: linear-gradient(to right, #eaeaea, #dbdbdb, #f2f2f2, #ada996);
}

nav.navbar .navbar-brand{
	width: 8%;
}

nav.navbar .nav-link{
	letter-spacing: 1.5px;
}

nav.navbar .nav-item{
	position: relative;
}

nav.navbar .nav-item::before,
nav.navbar .nav-item::after{
	content: "";
	display: block;
	width: 25%;
	height: 25%;
	transition-duration: 0.5s;
	position: absolute;
	opacity: 0;
}

nav.navbar .nav-item::before{
	top: 0;
	left: 0;
	transform:translateX(-20px);
	border-top: 1px solid var(--main-color);
	border-left: 1px solid var(--main-color);
}

nav.navbar .nav-item::after{
	bottom: 0;
	right: 0;
	transform:translateX(20px);
	border-bottom: 1px solid var(--main-color);
	border-right: 1px solid var(--main-color);
}

nav.navbar .nav-item:hover::before,
nav.navbar .nav-item:hover::after,
nav.navbar .nav-item.active::before,
nav.navbar .nav-item.active::after{
	transform:translateX(0px);
	opacity: 1;
}

nav.navbar .nav-link,
nav.navbar .nav-link:hover{
	color: #777;
}

nav.navbar .nav-item.active a{
	color: var(--main-color);
}

nav.navbar ul.icons{
	display: flex;
}

nav.navbar ul.icons li i{
	transition-duration: 0.5s;
	cursor: pointer;
	font-size: 20px;
	color: #777;
}

nav.navbar ul.icons li i:hover{
	color: var(--main-color);
}

header #SC-Carousel{
	position: relative;
}

header #SC-Carousel > button{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 45px;
	height: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
}

header #SC-Carousel > button.prev{
	left: 30px;
}

header #SC-Carousel > button.next{
	right: 30px;
}

header #SC-Carousel .SC-Carousel-inner{
	position: relative;
}

header #SC-Carousel .SC-Carousel-inner .SC-Carousel-item{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
}

header #SC-Carousel > button,
header #SC-Carousel .SC-Carousel-inner .SC-Carousel-item.active{
	z-index: 2;
}

header #SC-Carousel .SC-Carousel-inner .SC-Carousel-item h2{
	color: #2f2b63;
}

header #SC-Carousel .SC-Carousel-inner .SC-Carousel-item:nth-of-type(1){
	background-image: url('../images/home-bg-1.jpg');
}

header #SC-Carousel .SC-Carousel-inner .SC-Carousel-item:nth-of-type(2){
	background-image: url('../images/home-bg-2.jpg');
}

header #SC-Carousel .SC-Carousel-inner .SC-Carousel-item:nth-of-type(3){
	background-image: url('../images/home-bg-3.jpg');
}

header #SC-Carousel .SC-Carousel-inner .SC-Carousel-item:nth-of-type(1),
header #SC-Carousel .SC-Carousel-inner .SC-Carousel-item:nth-of-type(2),
header #SC-Carousel .SC-Carousel-inner .SC-Carousel-item:nth-of-type(3){
	background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

header #SC-Carousel .SC-Carousel-inner .SC-Carousel-item .row .part1{
	display: flex;
	align-items: center;
}

header #SC-Carousel .SC-Carousel-inner .SC-Carousel-item .row .part1 .item{
	transform: translateX(-50%);
	opacity: 0;
	transition-duration: 1s;
	transition-delay: 1.3s;
}

header #SC-Carousel .SC-Carousel-inner .SC-Carousel-item.active .row .part1 .item{
	opacity: 1;
	transform: translateX(0%);
}

header #SC-Carousel .SC-Carousel-inner .SC-Carousel-item .row .part2 {
	position: relative;
}

header #SC-Carousel .SC-Carousel-inner .SC-Carousel-item .row .part2 img:nth-of-type(1){
	position: relative;
	width: 81%;
    transform: translate(-7%, -15%);
    opacity: 0;
    transition-duration: 1s;
    transition-delay: 0.6s;
}

header #SC-Carousel .SC-Carousel-inner .SC-Carousel-item.active .row .part2 img:nth-of-type(1){
	transform: translate(-7%, 14%);
	opacity: 1;
}

header #SC-Carousel .SC-Carousel-inner .SC-Carousel-item .row .part2 img:nth-of-type(2){
	width: 105%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-42%, -54%) rotate(0deg) scale(0.5);
	opacity: 0;
	transition-duration: 1s;
}

header #SC-Carousel .SC-Carousel-inner .SC-Carousel-item.active .row .part2 img:nth-of-type(2){
	transform: translate(-42%, -54%) rotate(-35deg) scale(1.0);
	opacity: 1;
}

