nav.navbar{
	width: 100%;
	background: #ada996;
    background: -webkit-linear-gradient(to right,rgba(234, 234, 234, 0.5),rgba(219, 219, 219, 0.5),rgba(242, 242, 242, 0.5),rgba(173, 169, 150, 0.5));
    background: linear-gradient(to right, rgba(234, 234, 234, 0.5), rgba(219, 219, 219, 0.5), rgba(242, 242, 242, 0.5), rgba(173, 169, 150, 0.5));
    box-shadow: 0 .5rem 1rem #0000001a;
}

nav.navbar.scrolled{
	background: #ada996;
    background: -webkit-linear-gradient(to right,#eaeaea,#dbdbdb,#f2f2f2,#ada996);
    background: linear-gradient(to right, #eaeaea, #dbdbdb, #f2f2f2, #ada996);
}

nav.navbar .navbar-brand{
	width: 8%;
}

nav.navbar .nav-link{
	letter-spacing: 1.5px;
}

nav.navbar .nav-item{
	position: relative;
}

nav.navbar .nav-item::before,
nav.navbar .nav-item::after{
	content: "";
	display: block;
	width: 25%;
	height: 25%;
	transition-duration: 0.5s;
	position: absolute;
	opacity: 0;
}

nav.navbar .nav-item::before{
	top: 0;
	left: 0;
	transform:translateX(-20px);
	border-top: 1px solid var(--main-color);
	border-left: 1px solid var(--main-color);
}

nav.navbar .nav-item::after{
	bottom: 0;
	right: 0;
	transform:translateX(20px);
	border-bottom: 1px solid var(--main-color);
	border-right: 1px solid var(--main-color);
}

nav.navbar .nav-item:hover::before,
nav.navbar .nav-item:hover::after,
nav.navbar .nav-item.active::before,
nav.navbar .nav-item.active::after{
	transform:translateX(0px);
	opacity: 1;
}

nav.navbar .nav-link,
nav.navbar .nav-link:hover{
	color: #777;
}

nav.navbar .nav-item a{
	transition-duration: 0.5s;
}

nav.navbar .nav-item.active a{
	color: var(--main-color);
}

nav.navbar ul.icons{
	display: flex;
}

nav.navbar ul.icons li i{
	transition-duration: 0.5s;
	cursor: pointer;
	font-size: 20px;
	color: #777;
}

nav.navbar ul.icons li i:hover{
	color: var(--main-color);
}

header #SC-Carousel{
	position: relative;
	overflow: hidden;
}

header #SC-Carousel > button{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 45px;
	height: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
}

header #SC-Carousel > button.prev{
	left: 30px;
}

header #SC-Carousel > button.next{
	right: 30px;
}

header #SC-Carousel .SC-Carousel-inner{
	position: relative;
}

header #SC-Carousel .SC-Carousel-inner .SC-Carousel-item{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
}

header #SC-Carousel > button,
header #SC-Carousel .SC-Carousel-inner .SC-Carousel-item.active{
	z-index: 2;
}

header #SC-Carousel .SC-Carousel-inner .SC-Carousel-item h2{
	color: #2f2b63;
}

header #SC-Carousel .SC-Carousel-inner .SC-Carousel-item:nth-of-type(1){
	background-image: url('../images/home-bg-1.jpg');
}

header #SC-Carousel .SC-Carousel-inner .SC-Carousel-item:nth-of-type(2){
	background-image: url('../images/home-bg-2.jpg');
}

header #SC-Carousel .SC-Carousel-inner .SC-Carousel-item:nth-of-type(3){
	background-image: url('../images/home-bg-3.jpg');
}

header #SC-Carousel .SC-Carousel-inner .SC-Carousel-item:nth-of-type(1),
header #SC-Carousel .SC-Carousel-inner .SC-Carousel-item:nth-of-type(2),
header #SC-Carousel .SC-Carousel-inner .SC-Carousel-item:nth-of-type(3){
	background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

header #SC-Carousel .SC-Carousel-inner .SC-Carousel-item .row .part1{
	display: flex;
	align-items: center;
}

header #SC-Carousel .SC-Carousel-inner .SC-Carousel-item .row .part1 .item{
	transform: translateX(-50%);
	opacity: 0;
	transition-duration: 1s;
	transition-delay: 1.3s;
}

header #SC-Carousel .SC-Carousel-inner .SC-Carousel-item.active .row .part1 .item{
	opacity: 1;
	transform: translateX(0%);
}

header #SC-Carousel .SC-Carousel-inner .SC-Carousel-item .row .part2 {
	position: relative;
}

header #SC-Carousel .SC-Carousel-inner .SC-Carousel-item .row .part2 img:nth-of-type(1){
	position: relative;
	width: 81%;
    transform: translate(-7%, -15%);
    opacity: 0;
    transition-duration: 1s;
    transition-delay: 0.6s;
}

header #SC-Carousel .SC-Carousel-inner .SC-Carousel-item.active .row .part2 img:nth-of-type(1){
	transform: translate(-7%, 14%);
	opacity: 1;
}

header #SC-Carousel .SC-Carousel-inner .SC-Carousel-item .row .part2 img:nth-of-type(2){
	width: 105%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-42%, -54%) rotate(0deg) scale(0.5);
	opacity: 0;
	transition-duration: 1s;
}

header #SC-Carousel .SC-Carousel-inner .SC-Carousel-item.active .row .part2 img:nth-of-type(2){
	transform: translate(-42%, -54%) rotate(-35deg) scale(1.0);
	opacity: 1;
}

#Offet .row div[class*="part"] .item{
	overflow: hidden;
	position: relative;
}

#Offet .row div[class*="part"] .item img{
	transform: scale(1.1);
	transition-duration: 1s;
}

#Offet .row div[class*="part"] .item:hover img{
	transform: scale(1.0);
}

#Offet .row div[class*="part"] .item::after{
	content: "";
	position: absolute;
	top: 0;
	left: 120%;
	display: block;
	width: 120%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.5);
	transform: rotate(45deg);
	transition-duration: 1s;
}

#Offet .row div[class*="part"] .item:hover::after{
	left: -120%;
}

#Latest .product{
	background-color: #fff;
}

#Latest .product .row li{
	padding: 5px;
	cursor: pointer;
}

#Latest .product .row li img{
	transform: scale(0.8);
	transition-duration: 0.5s;
}

#Latest .product .row li img:hover{
	transform: scale(1.0);
}

#Latest .product .info .price{
	color: rgb(33, 37, 41);
}

#Latest .product .part2 .item>p{
	color: #777;
}

#Featured .content .item {
	background-color: #fff;
	border-radius: 10px;
	padding: 25px 20px;
	overflow: hidden;
}

#Featured .product {
	position: relative;
}

#Featured .product .discount{
	background-color: var(--main-color);
	position: absolute;
	color: #fff;
	font-size: 12px;
    width: 100%;
    transform: rotate(45deg) translate(-4%, 0px);
    right: -48%;
}

#Featured .content .item .head{
	position: relative;
}

#Featured .content .item .head img{
	transform: scale(1);
	transition-duration: 0.5s;
}

#Featured .content .item:hover .head img{
	transform: scale(1.2);
}

#Featured .content .item .head i{
	box-shadow: 0 10px 15px #0003;
	color: #000;
	cursor: pointer;
	width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transition-duration: 1s;
    position: absolute;
    bottom: 22%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, 25px);
}

#Featured .content .item:hover .head i{
	opacity: 1;
	transition-delay: 0.5s;
}

#Featured .content .item .head i:hover{
	color: #fff;
	background-color: var(--main-color);
}

#Featured .content .item .head ul.indicators{
	position: absolute;
	left: 50%;
	bottom: 0%;
	transform: translate(-50%, 20px);
	opacity: 0;
	transition-duration: 1s;
}

#Featured .content .item:hover .head ul.indicators{
	transform: translate(-50%, 0px);
	opacity: 1;
	transition-delay: 0.8s;
}

#Featured .content .item .head ul.indicators li{
	width: 15px;
	height: 15px;
	cursor: pointer;
	transition-duration: 0.5s;
	border-radius: 50%;
	background-color: #fff;
}

#Featured .content .item .head ul.indicators li.active{
	background-color: var(--main-color);
}

.popup[data-popup-name="login"] .popup-box{
	 width: 400px;
}

.popup[data-popup-name="login"] .popup-box h3,
.popup .popup-box i{
	color: var(--main-color);
}

.popup form{
	padding: 20px;
	background: #ada996;
    background: -webkit-linear-gradient(to right,#eaeaea,#dbdbdb,#f2f2f2,#ada996);
    background: linear-gradient(to right, #eaeaea, #dbdbdb, #f2f2f2, #ada996);
}

.popup .form-control:focus{
	box-shadow: none;
}

.popup[data-popup-name="shop"] .popup-box,
.popup[data-popup-name="product"] .popup-box{
	 width: 55%;
	 border-radius: 10px;
}

.popup[data-popup-name="product"] .popup-box ul li img{
	transform: scale(0.9);
}
.popup[data-popup-name="product"] .popup-box{
	padding: 20px;
}

.popup[data-popup-name="shop"] .popup-box{
	 margin: 20px auto;
}

.popup[data-popup-name="shop"] .popup-box .item{
	background-color: #fff;
	padding: 20px;
	border-radius: 10px;
}

.popup[data-popup-name="shop"].active{
    display: block;
}

ul.color li{
	width: 15px;
	height: 15px;
}

ul.color li.active{
	box-shadow: #00000040 0 54px 55px, #0000001f 0 -12px 30px, #0000001f 0 4px 6px, #0000002b 0 12px 13px, #00000017 0 -3px 5px;
}