@media (max-width: 1300px) {
    nav.navbar .navbar-brand {
	    width: 25%;
	}

	nav .container{
		position: relative;
		z-index: 3;
		transition: 0.5s;
		height: 65px;
	}

	nav.show .container{
		height: 310px;
	} 

	nav .collapse{
		margin-top: 8px;
		display: flex;
		flex-direction: column;
		justify-content: center;
        border-radius: 10px;
        background: #ada996;
        display: none;
        transition: 0.5s;
    	background: -webkit-linear-gradient(to right,#eaeaea,#dbdbdb,#f2f2f2,#ada996);
    	background: linear-gradient(to right, #eaeaea, #dbdbdb, #f2f2f2, #ada996);
    	height: 0%;
    	padding: 0;
        width: 90%;
	}

	nav ul.navbar-nav {
        row-gap: 8px;
    }

	nav .collapse.active{
		display: flex;
		/*padding: 16px 24px;*/
		z-index: 2;
		
	}

	nav .collapse.active.show{
		height: 230px;
		z-index: 3;
		padding: 16px 24px;
	}

	nav.navbar .navbar-toggler{
		display: flex;
	}

	nav ul.navbar-nav{
		align-items: center;
	}

	nav.navbar .nav-item{
		width: fit-content;
    	padding-inline: 10px;
	}

	nav.navbar ul.icons {
	    position: relative;
	    transform: translate(15%, 10px);
	}

    .title img {
	    width: 130px;
	}

	#SC-Carousel{
		padding-top: 24px;
	}

	header{
		padding-top: 30px;
	}

	header #SC-Carousel .SC-Carousel-inner .SC-Carousel-item .row .part2 img:nth-of-type(1){
		width: 50%;
		transform: translate(18%, -15%);
	}

	header #SC-Carousel .SC-Carousel-inner .SC-Carousel-item.active .row .part2 img:nth-of-type(1){
		transform: translate(18%, 15%);
	}

	header #SC-Carousel > button.prev {
	    right: 80px;
	    left: initial;
	    bottom: 5%;
	    top: initial;
	}

	header #SC-Carousel > button.next {
	    right: 20px;
	    bottom: 5%;
	    top: initial;
	}

	header #SC-Carousel .SC-Carousel-inner .SC-Carousel-item h2{
		font-size: 30px;
		margin-block: 15px;
	}

	header #SC-Carousel .SC-Carousel-inner .SC-Carousel-item .row .part2 img:nth-of-type(2){
		transform: translate(-42%, -54%) scale(0.5);
		width: 65%;
		transition-duration: 1s;
	}

	header #SC-Carousel .SC-Carousel-inner .SC-Carousel-item.active .row .part2 img:nth-of-type(2){
		
		transform: translate(-50%, -54%) rotate(-35deg) scale(1);
	}

	#Latest .product{
		width: 280px;
    	margin: auto;
	}

	#Latest .product h3{
		font-size: 17px;
	}

	#Featured .content .item {
	    width: 280px;
	    margin: auto;
	}

	#Featured .product .discount{
		font-size: 13px;
    	transform: rotate(45deg) translate(-3%, 0px);
	}

	#Featured .content .item .head i{
		bottom: 5%;
	}

	#Featured .content .item:hover .head i{
		bottom: 16%;
	}

	#Featured .content .item .head ul.indicators{
		bottom: -20%;
	}

	footer p {
	    padding-block: 7px;
	}

	.popup[data-popup-name="login"] .popup-box{
		width: 280px;
	}

	.popup[data-popup-name="product"]{
		overflow-y: auto;
	}

	.popup[data-popup-name="shop"] .popup-box{
		width: 280px;
	}

	.popup[data-popup-name="product"] .popup-box{
		display: block;
        width: 280px;
        margin:30px auto;
	}

	.popup[data-popup-name="product"] .popup-box .part2 h3{
		font-size: 20px;
	}

	.popup[data-popup-name="shop"] .popup-box .item, .popup[data-popup-name="favourite"] .popup-box .item{
		width: 235px;
		margin: auto;
	}

	.popup[data-popup-name="shop"] .popup-box, .popup[data-popup-name="favourite"] .popup-box {
	    margin: 30px auto;
	}

	.popup[data-popup-name="product"] .popup-box{
		position: absolute;
		top: 0;
	}

	.popup[data-popup-name="product"] .popup-box .row .part2{
		padding-inline: 10px;
	}

	.popup[data-popup-name="shop"] .popup-box, .popup[data-popup-name="favourite"] .popup-box, .popup[data-popup-name="product"] .popup-box{
		width: 80%;
	}

	.popup-search .popup-box {
    	width: 300px;
    }

	.popup.popup-buy .popup-box {
	    width: 300px;
	}
}

@media (min-width: 371px) and (max-width: 1300px) {
    nav.navbar .navbar-brand {
        width: 20%;
    }

    nav .collapse{
    	margin-top: 0;
    }

    header {
        padding-top: 12px;
    }

    #SC-Carousel{
		padding-top: 48px;
	}

	.popup[data-popup-name="shop"] .popup-box, .popup[data-popup-name="favourite"] .popup-box{
		width: 78%;
	}

	.popup[data-popup-name="shop"] .popup-box .item, .popup[data-popup-name="favourite"] .popup-box .item {
        width: 300px;
    }

    .popup[data-popup-name="product"] .popup-box .part2 h3 {
        font-size: 24px;
    }

    .popup[data-popup-name="login"] .popup-box {
        width: 350px;
    }
}

@media (min-width: 577px) and (max-width: 1300px) {
    nav .container{
    	height: 80px;
    }

    nav.show .container {
        height: 340px;
    }

    nav .collapse.active.show {
        height: 240px;
    }

    header {
        padding-top: 20px;
    }

    .popup-search .popup-box {
        width: 350px;
    }

    .popup-buy .popup-box {
        width: 350px;
    }

    header #SC-Carousel .SC-Carousel-inner .SC-Carousel-item .row .part2 img:nth-of-type(1){
		transform: translate(18%, -30%);
	}

	header #SC-Carousel .SC-Carousel-inner .SC-Carousel-item.active .row .part2 img:nth-of-type(1){
		transform: translate(18%, 0%);
	}

	#Latest .product {
        width: 380px;
    }

    #Latest .product h3 {
        font-size: 20px;
    }

    #Featured .content .item {
        width: initial;
    }

    .popup[data-popup-name="shop"] .popup-box, .popup[data-popup-name="favourite"] .popup-box, .popup[data-popup-name="product"] .popup-box {
        width: 350px;
        margin: 20px auto;
    }

    .popup[data-popup-name="shop"] .popup-box, .popup[data-popup-name="favourite"] .popup-box {
        width: 90%;
    }

    .popup[data-popup-name="shop"] .popup-box .item, .popup[data-popup-name="favourite"] .popup-box .item {
        width: initial;
    }


}

@media (min-width: 769px) and (max-width: 1300px) {
    nav.navbar .navbar-brand {
        width: 12%;
    }

    header #SC-Carousel .SC-Carousel-inner .SC-Carousel-item .row .part2 img:nth-of-type(1){
    	transform: translate(-15%, -15%);
    	width: 90%;
    }

    header #SC-Carousel .SC-Carousel-inner .SC-Carousel-item.active .row .part2 img:nth-of-type(1){
    	transform: translate(-15%, 25%);
    }

    header #SC-Carousel .SC-Carousel-inner .SC-Carousel-item .row .part2 img:nth-of-type(2){
		width: 110%;
		transform: translate(-42%, -54%) rotate(0deg) scale(0.5);
	}

	header #SC-Carousel .SC-Carousel-inner .SC-Carousel-item.active .row .part2 img:nth-of-type(2){
		transform: translate(-42%, -65%) rotate(-35deg) scale(1.0);
	}

	header #SC-Carousel .SC-Carousel-inner .SC-Carousel-item p{
		padding-right: 60px;
	}

    .popup-search .popup-box {
    	width: 400px;
    }

    .popup.popup-buy .popup-box {
        width: 400px;
    }

    #Featured .content .item {
        width: 280px;
    }

    #Latest .product {
        width: 530px;
    }

    .popup[data-popup-name="product"] .popup-box {
        width: 750px;
    }
}

@media (min-width: 992px) and (max-width: 1300px) {
    nav.navbar .nav-item{
		width: initial;
    	padding-inline: initial;
	}

	nav .collapse{
	    width: initial;
	    height: initial;
	    display: flex;
	    flex-direction: row;
	    justify-content: space-around;
	    background: transparent;
	    border-radius: 0;
	}

	nav.navbar .navbar-brand {
        width: 8%;
    }

    #Latest .product {
        width: initial;
    }

    #Featured .content .item {
        width: initial;
    }

    #Featured .content .body h6{
    	font-size: 15px;
    }

    .popup[data-popup-name="shop"] .popup-box, .popup[data-popup-name="favourite"] .popup-box {
        width: 750px;
    }

    .popup[data-popup-name="product"] .popup-box .part2 h3 {
        font-size: 28px;
    }
}

@media (min-width: 1181px) and (max-width: 1300px) {
	header #SC-Carousel .SC-Carousel-inner .SC-Carousel-item .row .part2 img:nth-of-type(2){
		width: 105%;
	}

	header #SC-Carousel .SC-Carousel-inner .SC-Carousel-item.active .row .part2 img:nth-of-type(2) {
        transform: translate(-42%, -50%) rotate(-35deg) scale(1.0);
    }

    header #SC-Carousel .SC-Carousel-inner .SC-Carousel-item.active .row .part2 img:nth-of-type(1) {
        transform: translate(-15%, -15%);
    }

    header #SC-Carousel .SC-Carousel-inner .SC-Carousel-item.active .row .part2 img:nth-of-type(1) {
        transform: translate(-15%, 18%);
    }

    .popup.popup-buy .popup-box{
		width: 500px;
	}

	.popup-search .popup-box{
		width: 500px;
	}
}